@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Calc Service Demo</h1>
    <h2>@Html.ActionLink("Run It", "Index", "Calc")</h2>
    <p>
        Source Code: <a href="https://github.com/shahedc/CalcApp30WithTests">https://github.com/shahedc/CalcApp30WithTests</a>
        <br />
        This web app demonstrates the following:
        <ul>
            <li>ASP.NET Core 3.0</li>
            <li>Unit Testing with xUnit.net</li>
        </ul>
    </p>
</div>
